<h2> {{ currentIndex + 1 }} / 10 </h2>
<h2 *ngIf = "!params.isHardcore"> Time left: {{ remainingTime }}s </h2>
<h2>
  {{   !currentQuestion ? "" : currentQuestion.question  }}
</h2>
<div class="answer-group">
  <form [formGroup]="answerForm" (ngSubmit)="submit(answerForm.value)">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label *ngFor="let choice of choices; let i = index" class="btn btn-secondary active">
        <input type="radio"
          formControlName="answer"
          name="answer"
          value="{{ i }}"> {{ choice }}
      </label>
      <button type="submit" class="button fancy-button"><i class="material-icons">navigate_next</i>Next</button>
    </div>
  </form>
</div>
