<div class="app-container">
  <app-top-bar (preLoad) = "preGame($event)"></app-top-bar>
  <!-- Place holder til I can come up with something to put xD
    <div class="comp-container">
      <img alt="Justin's Quiz" style="border-width:0" src="../assets/quiz-landing.png" />
    </div>
  !-->
  <div *ngIf="isParams" class="comp-container">
    <app-params [loadedOptions]="options" (chose) = "gameStart($event)"></app-params>
  </div>
  <div *ngIf="isClicked" class="comp-container">
    <app-quiz [params] = "params" (gameOver)="gameDone($event)"></app-quiz> 
  </div>
  <div *ngIf="isDone" class="comp-container">
    <app-statistics></app-statistics>
  </div>
</div>
<app-footer></app-footer>