<div class="container">
  <h2> GUIDE: </h2>
  <ol>
    <li>There are 10 questions</li>
    <li>You need a 70% or better to pass</li>
    <li>You only have 15 seconds per question</li>
    <li>The top left RESET will take you back here</li>
    <li>The top right KNOWIT? will take you back to the signature page</li>
    <li>Extras</li>
    <ul>
      <li>For extra challenge, the lightning round is 3 seconds per question</li>
      <li>For the plus ultra challenge, hardcore has no timer but will be punished if you get any question wrong</li>
    </ul>
  </ol>
</div>
<div class="container">
  <mat-form-field>
    <mat-select placeholder="Difficulty" [(ngModel)]="selectedParams.difficulty">
      <mat-option *ngFor="let difficulty of loadedOptions.difficulties" [value]="difficulty"> {{difficulty}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="container">
  <mat-form-field>
    <mat-select placeholder="Category" [(ngModel)]="selectedParams.category">
      <mat-option *ngFor="let category of loadedOptions.categories" [value]="category.id"> {{category.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="container">
  <mat-form-field>
    <mat-select placeholder="Hardcore?" [(ngModel)]="selectedParams.isHardcore">
      <mat-option [value]="true"> Yes </mat-option>
      <mat-option [value]="false"> No </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="!selectedParams.isHardcore" class="container">
  <mat-form-field>
    <mat-select placeholder="Lightning Round? " [(ngModel)]="selectedParams.isLightning">
      <mat-option [value]="true"> Yes </mat-option>
      <mat-option [value]="false"> No </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<button (click)="chosen()" class="container fancy-button">Start the game!</button>
