<div class="container">
  <h2> GUIDE: </h2>
  <ol>
    <li>Pick a difficulty & category</li>
    <li>You need a 70% or better to pass</li>
    <li>You can reset at any time by pressing the top left button</li>
    <li>For the regular quiz, you only have 15 seconds per question</li>
    <li>Extras</li>
    <ul>
      <li>For extra challenge, the lightning round is 3 seconds per question</li>
      <li>For extra+ challenge, hardcore has no timer but will punish if you get any question wrong</li>
    </ul>
  </ol>
</div>
<div class="container">
  <label>Difficulty</label>
  <select [(ngModel)]="selectedParams.difficulty">
    <option *ngFor="let difficulty of loadedOptions.difficulties" [ngValue]="difficulty"> {{difficulty}}</option>
  </select>
</div>
<div class="container">
  <label>Category</label>
  <select [(ngModel)]="selectedParams.category">
    <option *ngFor="let category of loadedOptions.categories" [ngValue]="category.id"> {{category.name}}</option>
  </select>
</div>
<div class="container">
  <label>Hardcore? </label>
  <select [(ngModel)]="selectedParams.isHardcore">
    <option [ngValue]="true"> Yes </option>
    <option [ngValue]="false"> No </option>
  </select>
</div>
<div *ngIf="!selectedParams.isHardcore" class="container">
  <label>Lightning Round? </label>
  <select [(ngModel)]="selectedParams.isLightning">
    <option [ngValue]="true"> Yes </option>
    <option [ngValue]="false"> No </option>
  </select>
</div>
<button (click)="chosen()" class="container fancy-button">Start the game!</button>
