/* Global Styles */



* {

  font-family: 'Roboto', Arial, sans-serif;

  color: #616161;

  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

}



body {

  margin: 25px;

  font-size: 15px;

}


.app-container {
  
  display: flex;

  flex-direction: column;

  align-items: center;

  border: 5px solid #1976d2;

  height: 750px;
  
}


.container {

  display: flex;

  flex-direction: column;

  padding: 10px;

}

.comp-container {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  overflow: auto;

  padding: 15px;

}

.quiz-comp-container {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  padding: 20px;

  width: 100%;

}


router-outlet + *  {

  padding: 0 16px;

}



/* Text */



h1 {

  font-size: 32px;

}



h2 {

  padding: 10px;

  font-size: 20px;

  margin: 0;

}



h1, h2 {

  font-weight: lighter;

}

h3 {

  padding: 20px;
  font-size: 16px;
}



p {

  padding: 10px;
  font-size: 14px;

}


/* Input */



input {

  font-size: 14px;

  border-radius: 2px;

  padding: 8px;

  margin-bottom: 16px;

  border: 1px solid #BDBDBD;

}



label {

  font-size: 12px;

  font-weight: bold;

  margin-bottom: 4px;

  display: block;

  text-transform: uppercase;

}



/* Button */

.button, button {

  display: inline-flex;

  align-items: center;

  padding: 8px 0px;

  padding-right: 16px;

  border-radius: 2px;

  font-size: 16px;

  cursor: pointer;

  background-color: #1976d2;

  color: white;

  border: none;

}


.button:hover, button:hover {

  opacity: 0.8;

  font-weight: normal;

}



.button:disabled, button:disabled {

  opacity: 0.5;

  cursor: auto;

}



/* Fancy Button */

.answer-button {
  background-color: #1976d2;

  color: white;

  font-weight: bold;

  width: 80%;

}

.answer-button i.material-icons {

  color: #1976d2;

  padding-right: 4px;

}


.fancy-button {

  background-color: white;

  color: #1976d2;

  font-weight: bold;

  padding: 8px 16px;

}



.fancy-button i.material-icons {

  color: #1976d2;

  padding-right: 4px;

}



/* Components */



.img-comp-container {
  display: flex;

  flex-direction: column;
  
  border-width:0; 
  
  height: auto;
}

.img-comp-container .img-container {
  
  width: 100%;

}



app-top-bar, app-footer {

  width: 100%;

  height: auto;

  background-color: #1976d2;

  padding: 16px;

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  align-items: center;

}



app-top-bar h1 {

  color: white;

  margin: 0;

}


app-quiz {

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  align-items: center;

  width: 100%;

  height: auto;

}

app-quiz .answer-group {

  padding: 10px;

}

app-quiz form {

  display: flex;

  flex-direction: column;
}

app-quiz .button-bar {

  display: inline-flex;

  flex-direction: row;

  justify-content: space-between;

  align-items: center;

  width: 100%;

}

app-quiz .error-container {

  color: red;

  font-weight: bold;

  font-size: 16px;

}

app-quiz h2 {

  align-self: center;

}

app-footer {

  height: auto;

}

app-footer div, span, a {

  color: white;

  align-self: center;

}

app-statistics ul {

  margin-right: 10px;

}

@media screen and (min-width: 550px) {

  .img-comp-container {
    width: auto;
  }

}

@media screen and (max-width: 550px) {

  body {

    margin: 15px;

  }

  app-top-bar {

    height: auto;

  }

  .comp-container {

    width: 100%;

    overflow: auto;

  }

  app-quiz h2 {

    width: 80%;

  }

  app-params {

    width: 100%;

  }

  app-footer {

    font-size: 12px;

  }

  app-statistics {

    overflow: scroll;

  }

  .img-comp-container {
    height: auto;

    width: 100%;
  }
}